<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="col-lg-4">
			<h1 class="text-center">Burger App!</h1>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-lg-4">
			<img class="img-fluid mx-auto" src="assets/img/main.jpg" alt="">
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-lg-4 text-center">
			<h2>Available Burgers</h2>
			<table id='available'class="table">
				<!--
				<tr>
					<td class="text-right">Elvis Burger</td>
					<td class="text-left"><button type="button" class="btn btn-primary">Eat</button></td>
				</tr>
				-->
			</table>
		</div>
		<div class="col-lg-4 text-center">
			<h2>Eaten Burgers</h2>
			<ul id="eaten" class="list-unstyled">
				<!--list of eaten burgers go here-->
				<!--<li>Bacon Lettuce Tomato Burger</li>-->
			</ul>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-lg-4">
			<form id="new">
				<div class="form-group">
					<label for="burger-name">Add a burger</label>
					<input type="text" class="form-control" id="burger-name" placeholder="No need to type 'burger'">
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>
</div>
<style>
	body {
		background-color: #efd7d7;
	}
	li  {
		font-size: 1rem;
	}
	#eaten {
		text-decoration: line-through;
	}
</style>
<script src="assets/js/main.js"></script>
